.DS_Store
.env
.env*.local
.next
.netlify
node_modules
.npm-cache
.data
public/uploads/*
!public/uploads/.gitkeep
public/generated/*
!public/generated/.gitkeep
!public/generated/renders
!public/generated/renders/.gitkeep
!public/generated/ai
!public/generated/ai/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
